.admin-ticket-list-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.admin-ticket-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}
