.admin-ticket-list-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.admin-ticket-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}
