name: Push checks

on:
    push:
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    quality:
        name: Code Quality
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - uses: ./.github/actions/setup
              with:
                  node-version: "22"

            - name: Check formatting
              run: npm run format:check
